  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <a href="/"><i class="fas fa-home"></i></a>
    <a href="/profiles"><i class="fas fa-user-friends"></i></a>
    <a href="/rooms/new"><i class="fas fa-sliders-h"></i>+</a>
    <a href="/rooms"><i class="fas fa-sliders-h"></i></a>
    <a href="/instruments/new"><i class="fas fa-drum"></i>+</a>
    <a href="/instruments"><i class="fas fa-drum"></i></a>
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit"><i class="fas fa-sign-out-alt"></i></button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
