@media only screen and (min-width: 600px) {
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&family=Zen+Kurenaido&family=Zen+Tokyo+Zoo&display=swap');


html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color: #8d5a97;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, "Exo", "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  background-image: url(https://images.pexels.com/photos/352505/pexels-photo-352505.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  background-color: #8c8c8c;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color:antiquewhite;
  font-family: 'Zen Tokyo Zoo', 'Courier New', Courier, monospace;  

}

h1 {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 100;
}

h2 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 100;
}

h3 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 100;
}

ul {
  list-style-type: none;
}

p, label, li, button, input {
  font-size: 1.8rem;
}

label {
  font-weight: bold;
}

section {
  padding: 50px;
}

a {
  color: #3d4160;
  font-size: 2rem;
  font-style: normal;
  font-weight: 100;
}

nav > a {
  margin: 1rem 3rem;
  text-decoration: none;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 1.6rem 0;
}

.link {
  padding: 1rem 0;
  font-size: 1.8rem;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
}

i {
  font-size: 5rem;
  color: rgb(72, 72, 72);
}

td {
  font-size: 2rem;
  font-family: 'Titillium Web', sans-serif;
  font-style: normal;
  font-weight: 100;
}
}











@media only screen and (max-width: 600px) {
  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Permanent+Marker&family=Titillium+Web:ital,wght@1,200&family=Zen+Dots&display=swap');


html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color: #8d5a97;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, "Exo", "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

nav {
  background-color: #907f9f;
  font-size: 1.6rem;
  display: flex;
  justify-content :space-between;
}

i {
  font-size: 1.3rem;
  color: aliceblue;
  display: flex;
  margin: 1px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: aliceblue;
}

h1 {
  font-size: 3rem;
  font-family: 'Zen Dots';  
  font-style: normal;
  font-weight: 100;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Titillium Web', sans-serif;
  font-style: normal;
  font-weight: 100;
}

h3 {
  font-size: 1.5rem;
  font-family: 'Amatic SC', cursive;
}

ul {
  list-style-type: none;
}

p, label, li, button, input {
  font-size: 1.8rem;
}

label {
  font-weight: bold;
}

section {
  padding: 50px;
}

a {
  color: #a4a5ae;
  font-size: 2rem;
  font-family: 'Titillium Web', sans-serif;
  font-style: normal;
  font-weight: 100;
}

nav > a {
  margin: 1rem 3rem;
  text-decoration: none;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 1.6rem 0;
}

.link {
  padding: 1rem 0;
  font-size: 1.8rem;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
}


td {
  font-size: 2rem;
  font-family: 'Titillium Web', sans-serif;
  font-style: normal;
  font-weight: 100;
}

th {
  font-size: 2rem;
  font-family: 'Titillium Web', sans-serif;
  font-style: normal;
  font-weight: 100;
}

}